<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table class="table">
     <thead>
       <tr>
         <th>fa-rotate-180</th>
         <th>fa-rotate-270</th>
         <th>fa-rotate-270</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td scope="row"></td>
         <td>fa-rotate-2703</td>
         <td>fa-rotate-270</td>
       </tr>
       <tr>
         <td scope="row"></td>
         <td></td>
         <td></td>
       </tr>
     </tbody>
   </table>
</body>
</html>